body {
  width: 100%;
  padding: 50px 0px;
  background: #222;
}

#start-ui {
  background: rgba(20, 20, 20, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align: center;
}

#start-ui ul {
  list-style: none;
}

#name {
  border: none;
  background: none;
  text-align: center;
  color: #00ddaa;
  font-size: 30pt;
}

#start {
  width: 200px;
  height: 100px;
  z-index: 990;
  background: #aa00dd;
  border: none;
}

#player-marker,
#turn-marker {
  width: 20px;
  height: 20px;
  background: white;
}

#info{
  position: absolute;
  top: 20px;
  left: 10px;
  color: white;
  list-style: none;
  font-size: 20pt;
}

#status {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  font-size: 20pt;
}

#board {
  margin: 0 auto;
  background: #00ddaa;
  width: 480px;
  height: 480px;
}

.cell {
  border: 1px solid #222;
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  height: 33.33%;
}
